{% extends "layout/layout.twig" %}
{% if mode == "new" %}
    {% set title %}Novo app{% endset %}
{% else %}
    {% set title %}Editar app{% endset %}
{% endif %}
{% block content %}
    <main class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 offset-lg-3 col-lg-6">
                    <div class="col-lg-12">
                        {% if mode == "new" %}
                            <h1 class="fs-1">Criar um novo app</h1>
                            <p class="fs-5 text-muted">Criaremos um repositório Git na conta selecionada e realizaremos a configuração para deploy automático a cada push. Criaremos também um app no servidor Dokku selecionado.</p>
                        {% else %}
                            <h1 class="fs-1">Editar app</h1>
                            <p class="fs-5 text-muted">Edite as configurações do app {{ app.name }}.</p>
                        {% endif %}
                    </div>
                    <hr>
                    <form>
                        <div>
                            <h5 class="fs-5 mt-4 mb-3">Dados básicos do app</h5>
                            <div class="mb-3">
                                <label class="form-label">Nome do app</label>
                                <input type="text" class="form-control" disabled="" value="{{ app.name }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Localização do app</label>
                                <select class="form-select" disabled="">
                                    {% if app %}
                                        <option selected>{{ app.server }}</option>
                                    {% else %}
                                        <option selected>Selecione o servidor para implantação do app</option>
                                        {% for server in servers %}
                                            {% if server.name == _GET.server %}
                                                <option value="{{ server.name }}" selected="">{{ server.name }}</option>
                                            {% else %}
                                                <option value="{{ server.name }}">{{ server.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h5 class="fs-5 mt-4 mb-3">Acesso ao app</h5>
                            <div class="mb-3">
                                <label class="form-label">Domínios do app</label>
                                <textarea class="form-control" rows="3">{{ app.domains }}</textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Mapeamento de portas</label>
                                <textarea class="form-control" rows="3">{{ app.portMap|default("http:80:80\nhttps:443:80") }}</textarea>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <h5 class="fs-5 mt-4 mb-3">Variáveis de ambiente</h5>
                            <div class="mb-3">
                                <label class="form-label">Variáveis de ambiente</label>
                                <textarea class="form-control" rows="3">{{ app.environment }}</textarea>
                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary ms-auto d-block">Criar app</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}