{% extends "layout/layout.twig" %}
{% set title %}{{ app.name }}{% endset %}
{% block content %}
    <main class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-9">
                    <h1 class="fs-1">{{ app.name }}</h1>
                    <p class="fs-5 text-muted">{{ app.description }}</p>
                </div>
                <div class="d-lg-none px-3">
                    <hr>
                </div>
                {% if app.git.latestRelease %}
                    <a target="_blank" href="{{ app.git.latestRelease.url }}" class="col-sm-6 col-lg-3 pt-lg-4 text-decoration-none">
                        <div class="text-success fw-bold">
                            <i class="bi bi-tags-fill"></i> Release {{ app.git.latestRelease.tagName }}
                        </div>
                        <p class="text-muted fs-6">Lançado em {{ app.git.latestRelease.date|date("d/m/Y") }}, às {{ app.git.latestRelease.date|date("H:i") }}</p>
                    </a>
                {% endif %}
            </div>
            <hr class="mt-0 mb-0">
            <div class="row">
                <div class="col-sm-12 col-lg-9 pt-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Requisições nas últimas 24h</h5>
                            <div
                                data-chart-data-type="requests"
                                data-chart-colors="[&quot;#1abc9c&quot;,&quot;#3498db&quot;,&quot;#f1c40f&quot;,&quot;#e74c3c&quot;,&quot;#95a5a6&quot;]"
                                data-chart-labels="[&quot;00:00 - 00:59&quot;,&quot;01:00 - 01:59&quot;,&quot;02:00 - 02:59&quot;,&quot;03:00 - 03:59&quot;,&quot;04:00 - 04:59&quot;,&quot;05:00 - 05:59&quot;,&quot;06:00 - 06:59&quot;,&quot;07:00 - 07:59&quot;,&quot;08:00 - 08:59&quot;,&quot;09:00 - 09:59&quot;,&quot;10:00 - 10:59&quot;,&quot;11:00 - 11:59&quot;,&quot;12:00 - 12:59&quot;,&quot;13:00 - 13:59&quot;,&quot;14:00 - 14:59&quot;,&quot;15:00 - 15:59&quot;,&quot;16:00 - 16:59&quot;,&quot;17:00 - 17:59&quot;,&quot;18:00 - 18:59&quot;,&quot;19:00 - 19:59&quot;,&quot;20:00 - 20:59&quot;,&quot;21:00 - 21:59&quot;,&quot;22:00 - 22:59&quot;,&quot;23:00 - 23:59&quot;]"
                                data-chart-data="[{&quot;name&quot;:&quot;Sucesso 2xx&quot;,&quot;data&quot;:[120,23,45,2,95,33,12,45,23,45,2,95,33,12,45,23,45,2,95,33,12,45,23,45]},{&quot;name&quot;:&quot;Redirecionamento 3xx&quot;,&quot;data&quot;:[120,23,45,2,95,33,12,45,23,45,2,95,33,12,45,23,45,2,95,33,12,45,23,45]},{&quot;name&quot;:&quot;Erro 4xx&quot;,&quot;data&quot;:[120,23,45,2,95,33,12,45,23,45,2,95,33,12,45,23,45,2,95,33,12,45,23,45]},{&quot;name&quot;:&quot;Erro 5xx&quot;,&quot;data&quot;:[120,23,45,2,95,33,12,45,23,45,2,95,33,12,45,23,45,2,95,33,12,45,23,45]},{&quot;name&quot;:&quot;Outros&quot;,&quot;data&quot;:[120,23,45,2,95,33,12,45,23,45,2,95,33,12,45,23,45,2,95,33,12,45,23,45]}]"
                            ></div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Requisições nos últimos 7 dias</h5>
                            <div
                                data-chart-data-type="requests"
                                data-chart-colors="[&quot;#1abc9c&quot;,&quot;#3498db&quot;,&quot;#f1c40f&quot;,&quot;#e74c3c&quot;,&quot;#95a5a6&quot;]"
                                data-chart-labels="[&quot;31/01/2023&quot;,&quot;01/02/2023&quot;,&quot;02/02/2023&quot;,&quot;03/02/2023&quot;,&quot;04/02/2023&quot;,&quot;05/02/2023&quot;,&quot;06/02/2023&quot;]"
                                data-chart-data="[{&quot;name&quot;:&quot;Sucesso 2xx&quot;,&quot;data&quot;:[44,55,41,37,22,43,21]},{&quot;name&quot;:&quot;Redirecionamento 3xx&quot;,&quot;data&quot;:[53,32,33,52,13,43,32]},{&quot;name&quot;:&quot;Erro 4xx&quot;,&quot;data&quot;:[12,17,11,9,15,11,20]},{&quot;name&quot;:&quot;Erro 5xx&quot;,&quot;data&quot;:[9,7,5,8,6,9,4]},{&quot;name&quot;:&quot;Outros&quot;,&quot;data&quot;:[25,12,19,32,25,24,10]}]"
                            ></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xl-6">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Status HTTP nas últimas 24h</h5>
                                    <div
                                        data-chart-data-type="status"
                                        data-chart-colors="[&quot;#1abc9c&quot;,&quot;#3498db&quot;,&quot;#f1c40f&quot;,&quot;#e74c3c&quot;,&quot;#95a5a6&quot;]"
                                        data-chart-labels="[&quot;Sucesso 2xx&quot;,&quot;Redirecionamento 3xx&quot;,&quot;Erro 4xx&quot;,&quot;Erro 5xx&quot;,&quot;Outros&quot;]"
                                        data-chart-data="[44,55,41,37,22]"
                                    ></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xl-6">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">Status HTTP nos últimos 7 dias</h5>
                                    <div
                                        data-chart-data-type="status"
                                        data-chart-colors="[&quot;#1abc9c&quot;,&quot;#3498db&quot;,&quot;#f1c40f&quot;,&quot;#e74c3c&quot;,&quot;#95a5a6&quot;]"
                                        data-chart-labels="[&quot;Sucesso 2xx&quot;,&quot;Redirecionamento 3xx&quot;,&quot;Erro 4xx&quot;,&quot;Erro 5xx&quot;,&quot;Outros&quot;]"
                                        data-chart-data="[44,55,41,37,22]"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <div class="sticky-lg-top pt-lg-4">
                        <div class="card mb-4 mt-0">
                            <div class="card-body">
                                <h5 class="card-title">Detalhes do app</h5>
                                <p class="card-text">
                                    {% if app.publicUrl %}
                                        <a target="_blank" href="{{ app.publicUrl }}" class="text-decoration-none d-block fw-bold"><i class="bi bi bi-box-fill"></i> Acessar App</a>
                                    {% endif %}
                                    {% if app.git %}
                                        <a target="_blank" href="{{ app.git.repository }}" class="text-decoration-none d-block fw-bold"><i class="bi bi-git"></i> Acessar Repositório</a>
                                    {% endif %}
                                    <hr>
                                    <a href="javascript:void(0)" class="text-decoration-none d-block fw-bold"><i class="bi bi-archive-fill"></i> Logs de Acesso (NGINX)</a>
                                    <a href="javascript:void(0)" class="text-decoration-none d-block fw-bold"><i class="bi bi-bug-fill"></i> Logs de Erro (NGINX)</a>
                                    <a href="javascript:void(0)" class="text-decoration-none d-block fw-bold"><i class="bi bi-box-seam-fill"></i> Logs do App</a>
                                </p>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Ações do app</h5>
                                <p class="card-text">
                                    {% if app.status == 'running' %}
                                        <a href="javascript:void(0)" class="text-danger text-decoration-none d-block fw-bold"><i class="bi bi-stop-fill"></i> Parar App</a>
                                    {% else %}
                                        <a href="javascript:void(0)" class="text-decoration-none d-block fw-bold"><i class="bi bi-play-fill"></i> Iniciar App</a>
                                        <a href="javascript:void(0)" class="text-decoration-none d-block fw-bold"><i class="bi bi-trash-fill"></i> Excluir App</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}