{% extends "layout/layout.twig" %}
{% set title %}Aplicativos{% endset %}
{% block content %}
    <main class="py-3">
        <div class="container">
            <div>
                {% if server %}
                    <h1 class="fs-1">Aplicativos do servidor {{ server.name }}</h1>
                {% else %}
                    <h1 class="fs-1">Aplicativos</h1>
                {% endif %}
            </div>
            <hr class="mt-0">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                    <a href="{{ "/apps/new"|base }}" class="card bg-light text-reset text-decoration-none" style="border-style: dashed;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <div class="rounded-circle d-flex align-items-center justify-content-center" style="background-color: hsl(263, 90%, 80%);width:40px;height:40px">
                                        <i class="bi bi-window-plus"></i>
                                    </div>
                                </div>
                                <div class="col-10 ps-0">
                                    <h5 class="card-title">Criar um novo app</h5>
                                    <p class="card-text text-muted">Um repositório no GitHub será criado e configurado. Esse esse app será criado no servidor Dokku selecionado.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% for app in apps %}
                    <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                        <a href="{{ ("/apps/" ~ app.name)|base }}" class="card text-reset text-decoration-none">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        {% if app.status == "running" %}
                                            <div class="rounded-circle d-flex align-items-center justify-content-center" style="background-color: hsl(152, 69%, 70%);width:40px;height:40px">
                                                <i class="bi bi-window"></i>
                                            </div>
                                        {% elseif app.status == "stopped" %}
                                            <div class="rounded-circle d-flex align-items-center justify-content-center" style="background-color: hsl(0, 69%, 80%);width:40px;height:40px">
                                                <i class="bi bi-window-x"></i>
                                            </div>
                                        {% else %}
                                            <div class="rounded-circle d-flex align-items-center justify-content-center" style="background-color: hsl(0, 0%, 80%);width:40px;height:40px">
                                                <i class="bi bi-question-diamond-fill"></i>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-10 ps-0">
                                        <h5 class="card-title">{{ app.name }}</h5>
                                        <p class="card-text text-muted">{{ app.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}