{% extends "layout/layout.twig" %}
{% set title %}Servidores{% endset %}
{% block content %}
    <main class="py-3">
        <div class="container">
            <div>
                <h1 class="fs-1">Servidores</h1>
            </div>
            <hr class="mt-0">
            <div class="row">
                {% for server in servers %}
                    <div class="col-sm-12 col-md-6 col-xl-4 mb-4">
                        <a href="{{ ("/servers/" ~ server.name ~ "/apps/")|base }}" class="card text-reset text-decoration-none">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        {% if server.status == "running" %}
                                            <div class="rounded-circle d-flex align-items-center justify-content-center" style="background-color: hsl(152, 69%, 70%);width:40px;height:40px">
                                                <i class="bi bi-database-check"></i>
                                            </div>
                                        {% elseif server.status == "stopped" %}
                                            <div class="rounded-circle d-flex align-items-center justify-content-center" style="background-color: hsl(0, 69%, 80%);width:40px;height:40px">
                                                <i class="bi bi-database-x"></i>
                                            </div>
                                        {% else %}
                                            <div class="rounded-circle d-flex align-items-center justify-content-center" style="background-color: hsl(0, 0%, 80%);width:40px;height:40px">
                                                <i class="bi bi-question-diamond-fill"></i>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-10 ps-0">
                                        <h5 class="card-title">{{ server.name }}</h5>
                                        <div class="row text-muted">
                                            <div class="col-md-6">
                                                <span class="fs-6"><i class="bi bi-cpu"></i></span>
                                                <div class="progress" style="height: 24px">
                                                    {% if server.metrics.cpuUsage %}
                                                        {% if server.metrics.cpuUsage > 0.7 %}
                                                            <div class="progress-bar bg-danger" style="width: {{ server.metrics.cpuUsage * 100 }}%"></div>
                                                        {% elseif server.metrics.cpuUsage > 0.5 %}
                                                            <div class="progress-bar bg-warning" style="width: {{ server.metrics.cpuUsage * 100 }}%"></div>
                                                        {% else %}
                                                            <div class="progress-bar" style="width: {{ server.metrics.cpuUsage * 100 }}%"></div>
                                                        {% endif %}
                                                    {% else %}
                                                        <div class="progress-bar bg-secondary" style="width: 100%">Desconhecido</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <span class="fs-6"><i class="bi bi-memory"></i></span>
                                                <div class="progress" style="height: 24px">
                                                    {% if server.metrics.memoryUsage %}
                                                        {% if server.metrics.memoryUsage > 0.7 %}
                                                            <div class="progress-bar bg-danger" style="width: {{ server.metrics.memoryUsage * 100 }}%"></div>
                                                        {% elseif server.metrics.memoryUsage > 0.5 %}
                                                            <div class="progress-bar bg-warning" style="width: {{ server.metrics.memoryUsage * 100 }}%"></div>
                                                        {% else %}
                                                            <div class="progress-bar" style="width: {{ server.metrics.memoryUsage * 100 }}%"></div>
                                                        {% endif %}
                                                    {% else %}
                                                        <div class="progress-bar bg-secondary" style="width: 100%">Desconhecido</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}